*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  justify-content: center;
  padding: 50px;
}
.container{
  width: 200px;
  height: 380px;
  /* border: solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
  background: #665f5f;
  border-radius: 20px;
}
.container>ul{
  /* border: solid 1px; */
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(30, 5px);
  grid-template-rows: repeat(30, 5px);
  background: #000;
}
.container>ul>li{
  border: solid 0.8px;
  font-size: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none;
}
.chosen-bar{
  background: red;
  box-shadow: 0 2px 6px red;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-name: blinkRed; */
}
.normal-bar{
  background: rgb(111, 47, 47);
}
.chosen-green-bar{
  background: rgb(23, 231, 23);
  box-shadow: 0 2px 6px rgb(23, 231, 23);
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.normal-green-bar{
  background: rgb(42, 93, 42);
}
.not-active{
  background: #393939;
}

@keyframes blinkRed{
  0%{
    background: rgb(111, 47, 47);
    box-shadow: 0 2px 6px rgb(111, 47, 47);
  }16%{
    background: rgb(111, 47, 47);
    box-shadow: 0 2px 6px rgb(111, 47, 47);
  }17%{
    background: red;
    box-shadow: 0 2px 6px red;
  }32%{
    background: red;
    box-shadow: 0 2px 6px red;
  }33%{
    background: rgb(111, 47, 47);
    box-shadow: 0 2px 6px rgb(111, 47, 47);
  }48%{
    background: rgb(111, 47, 47);
    box-shadow: 0 2px 6px rgb(111, 47, 47);
  }49%{
    background: red;
    box-shadow: 0 2px 6px red;
  }64%{
    background: red;
    box-shadow: 0 2px 6px red;
  }65%{
    background: rgb(111, 47, 47);
    box-shadow: 0 2px 6px rgb(111, 47, 47);    
  }80%{
    background: rgb(111, 47, 47);
    box-shadow: 0 2px 6px rgb(111, 47, 47);
  }81%{
    background: red;
    box-shadow: 0 2px 6px red;
  }100%{
    background: red;
    box-shadow: 0 2px 6px red;
  }
}